:root {
  --main-color: #000;
  --sub-color: #fff;
}

* {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

html, body {
  box-sizing: border-box;
  font-family: serif;
  font-size: 16px;
  color: var(--sub-color);
  background: var(--main-color);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 15px 0 5px 0;
  padding: 0;
  font-size: 20px;
  border-bottom: 1px solid var(--sub-color);
}

h1 {
  font-size: 24px;
  border-bottom-width: 3px;
}

h2 {
  font-size: 20px;
  border-bottom-width: 2px;
}

summary {
  padding: 5px 10px;
  font-weight: bold;
  font-size: 16px;
  color: var(--main-color);
  background: var(--sub-color);
}

input:focus,
summary:focus {
  outline: none;
}

details {
  padding: 10px;
  border: 1px solid var(--sub-color);
}

input[type='text'] {
  display: block;
  width: 100%;
  height: 50px;
  padding: 5px;
  font-size: 20px;
  background: var(--main-color);
  color: var(--sub-color);
  border: 1px solid var(--sub-color);
}

input[type='text']:disabled {
  -webkit-text-fill-color: var(--sub-color);
  color: var(--sub-color);
}

input[type='text']::placeholder {
  color: var(--sub-color);
  opacity: .25;
}

button,
label[for="startBtn"] {
  display: block;
  width: 100%;
  margin: 0;
  padding: 10px;
  font-family: serif;
  font-size: 16px;
  border: none;
  color: var(--main-color);
  background: var(--sub-color);
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

button:active {
  opacity: .9;
}

button:disabled,
#startBtn:disabled + label[for="startBtn"] {
  color: #ccc;
  cursor: not-allowed;
}

.message-wrapper {
  margin: 0 0 15px 0;
}

.mode-wrapper {
  margin: 15px 0 0 0;
}

#startBtn {
  display: none;
}

label[for="startBtn"] {
  display: block;
  text-align: center;
}

#map {
  height: 300px;
}
